body{
	margin: 0px;
	padding: 0px;
}

#navbar{
	display: flex;
	justify-content: center;
	background-image: url(https://itemsstore.net/html/trito/img/hero/1.jpg);
	margin: 0px;
	padding-top: 22px;
	padding-bottom: 10px;
	border-bottom: 2px solid black;
	
}

#navbar li a{
	text-decoration: none;
	margin: 30px;
	

}

#navbar li a img{
	width: 130px;
	margin-right:190px;
}

#download{
	margin-left: 200px;
	background-color: rgb(21,21,92);
	padding-top:13px;
	border-radius: 10px;
	color: white;
}

#download a{
	color: white;
}

#avatar{
	position: absolute;
	
	margin-right: -400px;
	margin-top: 81px;
	
}


#avatar img{
	width: 500px;
}
/* #download a[
	color: white
] */

/* ======hero section======= */

.hero{
	display: flex;
	justify-content: center;
}

.hero div img{
	width: 550px;
}

.hero1{
	font-size: 40px;
	margin-left: -120px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.hero2{
	font-size: 60px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-left: -120px;
}

.hero3{
	font-size: 30px;
	margin-left: -120px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero4 span{
	background-color: rgb(16, 16, 95);
	border: 1px solid black ;
	color: white;
	padding: 10px 25px 10px 25px;
	margin-left: -120px;
}

.herodiv1{
	margin-top: 130px;
}

.hero{
	padding-top: 100px;
	background-image: url('https://itemsstore.net/html/trito/img/hero/1.jpg');
	padding-bottom: 150px;
}

.herodiv1 {
	margin-left: -600px;
}


/* ======END hero section======= */


/* dedication */

.dedication div img{
	width: 50px;
}

.dedication div span{
	font-size: 30px;
	font-weight: 700;
}

.dedication{
	display: flex;
	justify-content: center;
	padding: 40px;
}

.div1{
	padding: 40px;
}


/* END dedication */

#client{
	padding-top: 50px;
	
}


#clientnames{
	display: flex;
	background-color: rgb(10, 14, 63);
	padding-left: 250px;
	padding-bottom: 60px;
	
}

