body{
	margin: 0px;
	padding: 0px;
}

#navbar{
	display: flex;
	justify-content: center;
	background-color: aqua;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid black;
}

#navbar li a{
	text-decoration: none;
	margin: 20px;

}

#navbar li a img{
	width: 80px;
	margin-right: 200px;
}

#download{
	margin-left: 200px;
	background-color: rgb(21,21,92);
	padding-top: 5px;
	border-radius: 5px;
	color: white;
}

/* #download a[
	color: white
] */

